{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><b>About</b></li>
        </ul>
    </div>

    <div class="card card-panel grey lighten-5 z-depth-1">
        <h3 align="center">About</h3>
        <div class="divider"></div>
        <p>
            <p>
                "Offline" is the apt description for most villages in Ladakh, most of the time. Low population density spread across a vast, mountainous territory with ongoing border disputes. If villages have towers, they are often just 2G, and can be shut for "security purposes" at any time.
            </p>
            <p>
                Add COVID lockdowns, when an entire family can be demanding one device with one data plan, and children quickly give up on keeping up with school work.
            </p>
            <p>
                Yountan Yargyas Meshnet is addressing this issue. The offline education platform provides the best local and global learning material placed in Ladakh.
            </p>
            <p>
                A battery bank powered Internet in a Box (IIAB) holds 1 TB of NCERT and district education materials, Khan Academy, PHeT, TED Ed and our own Ladakhipedia.
            </p>
            <p>
                The MeshNet holds more than the above and allows students of all ages to upload and share local video and audio content, poadcast a radio, livestream news, and has an email and phone system. It also supports workshops, melas, and student Q&A sessions.
            <p>
                It’s affordable, easy to code, install and use. And kids love having an ability to broaden their horizons.
            </p>
        </p>
    </div>
{% endblock %}
