{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><b>Change Password</b></li>
        </ul>
    </div>

    <div class="card card-panel grey lighten-5 z-depth-1">
        <h3 align="center">Change Password</h3>
        <div class="divider"></div>
        <p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Change Password</button></p>
            </form>
        </p>
    </div>
{% endblock %}
