{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/classes/{{ class_slug }}">{{ class_slug_name }}</a></li>
            <li><b>{{ subject_slug_name }}</b></li>
        </ul>
    </div>

    {% if  user.is_superuser %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Add Chapter</big></div>
                <div class="collapsible-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Add Chapter</button></p>
                    </form>
                </div>
            </li>
        </ul>
    {% else %}
        {% for group in user.groups.all %}
            {%  if 'teacher' == group.name %}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Add Chapter</big></div>
                        <div class="collapsible-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Add Chapter</button></p>
                            </form>
                        </div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for chapter in student_chapters %}
        <a href="/classes/{{ class_slug }}/{{ subject_slug }}/{{ chapter.chapter_slug }}" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="card card-panel grey lighten-5 z-depth-1">
                <span class="card-title"><b>{{ chapter.student_chapter }}</b></span>
                <p>{{ chapter.chapter_summary|linebreaks }}</p>
                {% if  user.is_superuser %}
                    <div align="right">
                        <a href="#" class="btn waves-light" onclick="alert('This feature will be added soon!');"><i class="material-icons left">edit</i>Edit</a>
                        <a href="#" class="btn orange darken-4" onclick="alert('This feature will be added soon!');"><i class="material-icons left">delete</i>Delete</a>
                    </div>
                {% else %}
                    {% for group in user.groups.all %}
                        {%  if 'teacher' == group.name %}
                            <div align="right">
                                <a href="#" class="btn waves-light" onclick="alert('This feature will be added soon!');"><i class="material-icons left">edit</i>Edit</a>
                                <a href="#" class="btn orange darken-4" onclick="alert('This feature will be added soon!');"><i class="material-icons left">delete</i>Delete</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </a>
    {% empty %}
        <div class="card card-panel grey lighten-5 z-depth-1" align="center">
            <span class="card-title"><b>This section is empty!</b></span>
        </div>
    {% endfor %}
{% endblock %}
