{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><b>Contact</b></li>
        </ul>
    </div>

    <div class="card card-panel grey lighten-5 z-depth-1">
        <h3 align="center">Contact</h3>
        <div class="divider"></div>
        <p>
            <table class="highlight centered">
                <tbody>
                    <tr>
                        <td>Email</td>
                        <td style="text-align: left;"><a href="mailto:something@example.com"><b>something@example.com</b></a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td style="text-align: left;"><a href="tel:+01122334455"><b>+0 11223 34455</b></a> (Name | Designation)</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td style="text-align: left;"><a href="https://example.com/" target="_blank"><b>https://example.com/</b></a></td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}
