{% extends "Main/header.html" %}

{% block content %}
    <h1>CONTENT</h1>
    <p>
        <a href="/">Home</a> --&gt; <a href="/classes">Classes</a> --&gt; <a href="/classes/{{ class_slug }}">{{ class_slug_name }}</a> --&gt; <a href="/classes/{{ class_slug }}/{{ subject_slug }}">{{ subject_slug_name }}</a> --&gt; <a href="/classes/{{ class_slug }}/{{ subject_slug }}/{{ chapter_slug }}">{{ chapter_slug_name }}</a> --&gt; {{ section_slug_name }}
    </p>
    <p>
        {% if student_section.section_video %}
            <video width='400' controls>
                <source src="{{ student_section.section_video.url }}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        {% else %}
            Video Unavailable!
        {% endif %}
    </p>
    <p>{{ student_section.student_section }}</p>
    <p><small>{{ student_section.section_summary }}</small></p>
    <p>{{ student_section.section_text }}</p>
{% endblock %}
