{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/classes/{{ class_slug }}">{{ class_slug_name }}</a></li>
            <li><a href="/classes/{{ class_slug }}/{{ subject_slug }}">{{ subject_slug_name }}</a></li>
            <li><a href="/classes/{{ class_slug }}/{{ subject_slug }}/{{ chapter_slug }}">{{ chapter_slug_name }}</a></li>
            <li><b>{{ section_slug_name }}</b></li>
        </ul>
    </div>

    <div class="card card-panel grey lighten-5 z-depth-1">
        <h3 align="center">{{ student_section.student_section }}</h3>
        <div class="divider"></div>
        {% if student_section.section_video %}
            <video class="responsive-video section" controls>
                <source src="{{ student_section.section_video.url }}" type='video/mp4'>
                Your browser does not support the video tag.
            </video>
            <div class="divider"></div>
        {% endif %}
        <p>{{ student_section.section_summary|linebreaks }}</p>
        <div class="divider"></div>
        <p>{{ student_section.section_text|safe }}</p>
        {% if  user.is_superuser %}
            <div align="right">
                <a href="#" class="btn waves-light" onclick="alert('This feature will be added soon!');"><i class="material-icons left">edit</i>Edit</a>
                <a href="#" class="btn orange darken-4" onclick="alert('This feature will be added soon!');"><i class="material-icons left">delete</i>Delete</a>
            </div>
        {% else %}
            {% for group in user.groups.all %}
                {%  if 'teacher' == group.name %}
                    <div align="right">
                        <a href="#" class="btn waves-light" onclick="alert('This feature will be added soon!');"><i class="material-icons left">edit</i>Edit</a>
                        <a href="#" class="btn orange darken-4" onclick="alert('This feature will be added soon!');"><i class="material-icons left">delete</i>Delete</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
