{% extends "main/includes/header.html" %}
{% load static %}

{% block content %}
    <div class="parallax-container" style="position: absolute; left: 0; right: 0; width: 100%; height: 300px; box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.5);">
        <div class="parallax"><img src="{% static 'main/images/meshnet.jpeg' %}"></div>
    </div>
    <div style="height: 300px;"></div>

    <div class="row" style="margin-top: -100px;">
        <a href="/classes" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'main/images/curricular-learning.jpg' %}">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0px -70px 100px -10px #000000;"></div>
                        <span class="card-title"><b>Curricular Learning</b></span>
                        <a href="#modal1" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; height: 3em; line-height: 1.5;">Some Text About Curricular Learning and Some Text About Curricular Learning and Some Text About Curricular Learning.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'main/images/global-learning.png' %}">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0px -70px 100px -10px #000000;"></div>
                        <span class="card-title"><b>Global Learning</b></span>
                        <a href="#modal2" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; height: 3em; line-height: 1.5;">Some Text About Global Learning and Some Text About Global Learning and Some Text About Global Learning.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'main/images/ladakhi-learning.jpg' %}">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0px -70px 100px -10px #000000;"></div>
                        <span class="card-title"><b>Ladakhi Learning</b></span>
                        <a href="#modal3" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; height: 3em; line-height: 1.5;">Some Text About Ladakhi Learning and Some Text About Ladakhi Learning and Some Text About Ladakhi Learning.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/classes" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'main/images/curricular-learning.jpg' %}">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0px -70px 100px -10px #000000;"></div>
                        <span class="card-title"><b>Curricular Learning</b></span>
                        <a href="#modal1" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; height: 3em; line-height: 1.5;">Some Text About Curricular Learning and Some Text About Curricular Learning and Some Text About Curricular Learning.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'main/images/global-learning.png' %}">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0px -70px 100px -10px #000000;"></div>
                        <span class="card-title"><b>Global Learning</b></span>
                        <a href="#modal2" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; height: 3em; line-height: 1.5;">Some Text About Global Learning and Some Text About Global Learning and Some Text About Global Learning.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'main/images/ladakhi-learning.jpg' %}">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0px -70px 100px -10px #000000;"></div>
                        <span class="card-title"><b>Ladakhi Learning</b></span>
                        <a href="#modal3" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger"><i class="material-icons">info_outline</i></a>
                    </div>
                    <div class="card-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; height: 3em; line-height: 1.5;">Some Text About Ladakhi Learning and Some Text About Ladakhi Learning and Some Text About Ladakhi Learning.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Curricular Learning</h4>
            <p>Some Text About Curricular Learning and Some Text About Curricular Learning and Some Text About Curricular Learning.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Global Learning</h4>
            <p>Some Text About Global Learning and Some Text About Global Learning and Some Text About Global Learning.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>Ladakhi Learning</h4>
            <p>Some Text About Ladakhi Learning and Some Text About Ladakhi Learning and Some Text About Ladakhi Learning.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
{% endblock %}
