{% extends "main/includes/header.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><b>Messages Section</b></li>
        </ul>
    </div>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>New Message</big></div>
            <div class="collapsible-body input-field">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Send</button></p>
                </form>
            </div>
        </li>
    </ul>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(elems, {limit: 5, data: { {{ usernames_list|safe }} }});
    });
    </script>

    <div class="row">
        {% for chat in page_obj %}
            <div class="card card-panel grey lighten-5 z-depth-1">
                {% if not chat.last_message_seen and chat.last_message_user != user %}
                <span class="custom-badge green" style="color: #fff; margin-right: 1rem;">New</span>
                {% endif %}
                <a href="/messages/{% for recipient in chat.chat_recipients.all %}{% if recipient != user %}{{ recipient.username }}{% endif %}{% endfor %}" style="color: inherit; text-decoration: inherit;">
                    <span class="card-title"><b>{% for recipient in chat.chat_recipients.all %}{% if recipient != user %}{{ recipient.username }}{% endif %}{% endfor %}</b></span>
                </a>
                {% for recipient in chat.chat_recipients.all %}
                    {% if not recipient.is_active %}
                        <span class="custom-badge red" style="color: #fff; margin-left: 1rem;">Disabled</span>
                    {% endif %}
                {% endfor %}
                <br>
                <p>
                    <span style="font-size: 1.5rem;">
                        <strong>{% if chat.last_message_user == user %}You{% else %}{{ chat.last_message_user.username }}{% endif %}: </strong>
                        {{ chat.last_message_text }}
                    </span>
                    <br>
                    <small>{{ chat.last_message_time|naturaltime }}</small>
                </p>
            </div>
        {% empty %}
            <div class="card card-panel grey lighten-5 z-depth-1" align="center">
                <span class="card-title"><b>This section is empty!</b></span>
            </div>
        {% endfor %}
    </div>

    {% if page_obj %}
        <div align="center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="waves-effect"><a href="?page=1"><i class="material-icons">first_page</i></a></li>
                    <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><a><i class="material-icons">first_page</i></a></li>
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% if page_obj.number|add:'-2' > 0 %}
                    <li class="waves-effect"><a href="?page={{ page_obj.number|add:'-2' }}">{{ page_obj.number|add:'-2' }}</a></li>
                {% endif %}
                {% if page_obj.number|add:'-1' > 0 %}
                    <li class="waves-effect"><a href="?page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a></li>
                {% endif %}
                <li class="active"><a>{{ page_obj.number }}</a></li>
                {% if page_obj.number|add:'1' <= page_obj.paginator.num_pages %}
                    <li class="waves-effect"><a href="?page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:'1' }}</a></li>
                {% endif %}
                {% if page_obj.number|add:'2' <= page_obj.paginator.num_pages %}
                    <li class="waves-effect"><a href="?page={{ page_obj.number|add:'2' }}">{{ page_obj.number|add:'2' }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect"><a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">last_page</i></a></li>
                {% else %}
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                    <li class="disabled"><a><i class="material-icons">last_page</i></a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if page_obj %}
        <div class="card card-panel grey lighten-5 z-depth-1" align="center">
            <a href="#modal1" class="modal-trigger btn orange darken-4"><i class="material-icons left">delete</i>Delete All Chats</a>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Confirmation</h4>
                <p>Are you sure you want to delete all chats?</p>
            </div>
            <div class="modal-footer">
                <form method="POST" enctype="multipart/form-data" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="data_type" value="ms">
                    <input type="hidden" name="data_act" value="0">
                    <button type="submit" class="waves-effect waves-red btn-flat">Yes</button>
                </form>
                <button href="#!" class="modal-close waves-effect waves-green btn-flat">No</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
