{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><a href="/classes/{{ class_slug }}">{{ class_slug_name }}</a></li>
            <li><a href="/classes/{{ class_slug }}/{{ subject_slug }}">{{ subject_slug_name }}</a></li>
            <li><b>{{ chapter_slug_name }}</b></li>
        </ul>
    </div>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Add Section</big></div>
            <div class="collapsible-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><label style="margin-right: 25px;">Section Video (Optional):</label><label for="id_section_video" class="btn">Choose Video</label></p>
                    <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Add Section</button></p>
                </form>
            </div>
        </li>
    </ul>

    {% for section in student_sections %}
        <a href="/classes/{{ class_slug }}/{{ subject_slug }}/{{ chapter_slug }}/{{ section.section_slug }}" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="card card-panel grey lighten-5 z-depth-1">
                <span class="card-title"><b>{{ section.student_section }}</b></span>
                <p>{{ section.section_summary|linebreaks }}</p>
                <div align="right" style=""><!-- display: none; -->
                    <a class="btn waves-light"><i class="material-icons left">edit</i>Edit</a>
                    <a class="btn orange darken-4"><i class="material-icons left">delete</i>Delete</a>
                </div>
            </div>
        </a>
    {% endfor %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/tinymce-fix.css' %}">
{% endblock %}
