{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><b>{{ class_slug_name }}</b></li>
        </ul>
    </div>

    {% if  user.is_superuser %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Add Subject</big></div>
                <div class="collapsible-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Add Subject</button></p>
                    </form>
                </div>
            </li>
        </ul>
    {% else %}
        {% for group in user.groups.all %}
            {%  if 'teacher' == group.name %}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Add Subject</big></div>
                        <div class="collapsible-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Add Subject</button></p>
                            </form>
                        </div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for subject in student_subjects %}
        <a href="/classes/{{ class_slug }}/{{ subject.subject_slug }}" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="card card-panel grey lighten-5 z-depth-1">
                <span class="card-title"><b>{{ subject.student_subject }}</b></span>
                <p>{{ subject.subject_summary|linebreaks }}</p>
                {% if  user.is_superuser %}
                    <div align="right">
                        <a class="btn waves-light"><i class="material-icons left">edit</i>Edit</a>
                        <a class="btn orange darken-4"><i class="material-icons left">delete</i>Delete</a>
                    </div>
                {% else %}
                    {% for group in user.groups.all %}
                        {%  if 'teacher' == group.name %}
                            <div align="right">
                                <a class="btn waves-light"><i class="material-icons left">edit</i>Edit</a>
                                <a class="btn orange darken-4"><i class="material-icons left">delete</i>Delete</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </a>
    {% endfor %}
{% endblock %}
