{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li><a href="/classes">Classes</a></li>
            <li><b>{{ class_slug_name }}</b></li>
        </ul>
    </div>

    {% if editor %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Add Subject</big></div>
                <div class="collapsible-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Add Subject</button></p>
                    </form>
                </div>
            </li>
        </ul>
    {% endif %}

    {% for subject in student_subjects %}
        <div class="card card-panel grey lighten-5 z-depth-1">
            <a href="/classes/{{ class_slug }}/{{ subject.subject_slug }}" style="display: block; color: inherit; text-decoration: inherit;">
                <span class="card-title"><b>{{ subject.student_subject }}</b></span>
                <p>{{ subject.subject_summary|linebreaks }}</p>
            </a>
            {% if editor %}
                <div align="right">
                    <form action="/edit-data" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="data_type" value="subject">
                        <input type="hidden" name="data_id" value="{{ subject.id }}">
                        <input type="hidden" name="data_next" value="{{ next }}">
                        <button type="submit" class="btn waves-light"><i class="material-icons left">edit</i>Edit</button>
                    </form>
                    <a href="#modal{{ forloop.counter }}" class="modal-trigger btn orange darken-4"><i class="material-icons left">delete</i>Delete</a>
                </div>
                <div id="modal{{ forloop.counter }}" class="modal">
                    <div class="modal-content">
                        <h4>Confirmation</h4>
                        <p>Are you sure you want to delete this subject?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="/delete-data" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="data_type" value="subject">
                            <input type="hidden" name="data_id" value="{{ subject.id }}">
                            <input type="hidden" name="data_next" value="{{ next }}">
                            <button type="submit" class="waves-effect waves-red btn-flat">Yes</button>
                        </form>
                        <button href="#!" class="modal-close waves-effect waves-green btn-flat">No</button>
                    </div>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="card card-panel grey lighten-5 z-depth-1" align="center">
            <span class="card-title"><b>This section is empty!</b></span>
        </div>
    {% endfor %}
{% endblock %}
