{% extends "main/includes/header.html" %}

{% block content %}
    <div class="z-depth-1">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>Upload</li>
            <li><b>Files</b></li>
        </ul>
    </div>

    <div class="row grey lighten-5 z-depth-1" align="center">
        <a href="/upload/images" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col m3 upload-bar" style="padding-top: 15px; padding-bottom: 15px;"><b>Images</b></div>
        </a>
        <a href="/upload/videos" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col m3 upload-bar" style="padding-top: 15px; padding-bottom: 15px;"><b>Videos</b></div>
        </a>
        <a href="/upload/audios" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="col m3 upload-bar" style="padding-top: 15px; padding-bottom: 15px;"><b>Audios</b></div>
        </a>
        <div class="col m3 upload-bar" style="padding-top: 15px; padding-bottom: 15px; background-color: #dadada;"><b>Files</b></div>
    </div>

    {% if  user.is_superuser %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Upload File</big></div>
                <div class="collapsible-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><label style="margin-right: 25px;">File:</label><label for="id_file_file" class="btn">Choose File</label></p>
                        <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Upload File</button></p>
                    </form>
                </div>
            </li>
        </ul>
    {% else %}
        {% for group in user.groups.all %}
            {%  if 'teacher' == group.name %}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header grey lighten-5 z-depth-1"><i class="material-icons">add</i><big>Upload File</big></div>
                        <div class="collapsible-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <p><label style="margin-right: 25px;">File:</label><label for="id_file_file" class="btn">Choose File</label></p>
                                <p style="display: flex; justify-content: center;"><button type="submit" class="btn">Upload File</button></p>
                            </form>
                        </div>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for file in upload_file %}
        <a href="{{ file.file_file.url }}" style="display: block; color: inherit; text-decoration: inherit;">
            <div class="card card-panel grey lighten-5 z-depth-1">
                <span class="card-title"><b>{{ file.file_name }}</b></span>
                <p>{{ file.file_summary|linebreaks }}</p>
                {% if  user.is_superuser %}
                    <div align="right">
                        <a href="#" class="btn waves-light" onclick="alert('This feature will be added soon!');"><i class="material-icons left">edit</i>Edit</a>
                        <a href="#" class="btn orange darken-4" onclick="alert('This feature will be added soon!');"><i class="material-icons left">delete</i>Delete</a>
                    </div>
                {% else %}
                    {% for group in user.groups.all %}
                        {%  if 'teacher' == group.name %}
                            <div align="right">
                                <a href="#" class="btn waves-light" onclick="alert('This feature will be added soon!');"><i class="material-icons left">edit</i>Edit</a>
                                <a href="#" class="btn orange darken-4" onclick="alert('This feature will be added soon!');"><i class="material-icons left">delete</i>Delete</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </a>
    {% empty %}
        <div class="card card-panel grey lighten-5 z-depth-1" align="center">
            <span class="card-title"><b>This section is empty!</b></span>
        </div>
    {% endfor %}
{% endblock %}
