<!DOCTYPE html>
<html lang="en-US">

<head>
  <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Yountan Yargyas</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
          <li><a href="/account">{{user.username}}</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
        <li><a href="/help.html">Help</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/admin.html">Admin Panel</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/help.html">Help</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/admin.html">Admin Panel</a></li>
  </ul>

  {% if messages%}
    {% for msg in messages %}
      {% if message.tags == "success" %}
        <script>M.toast({html: "{{message}}", classes: "rounded green", displayLength: 2000});</script>
      {% else %}
        <script>M.toast({html: "{{message}}", classes: "rounded red", displayLength: 2000});</script>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="https://materializecss.com/docs/js/init.js"></script>


</body>

</html>
